$color1:#fed136;
$color2:#212529;
$color3:#a1afc0;

*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 20px;
}

header{
    nav{
        background-color: $color2;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;
        .logo{
            width: 200px;
        }
        button{
            background-color: $color1;
            padding: 10px;
            color: white;
            border-radius: 5px;
            text-transform: uppercase;
            font-size: 13px;
            display: flex;
            align-items: center;
            i{
                margin-left: 10px;
            }
        }
        button:hover{
            background-color: #ffc602;
        }
        ul{
            display: none;
        }
    }
}
.banner{
    position: relative;
    color: white;
    .header-bg{
        width: 100%;
    }
    &__content{
        width: 100%;
        position: absolute;
        top: calc(50% - 150px);
        flex-direction: column;
        justify-content: center;
        text-align: center;
        h4{
            font-size: 30px;
            font-style: italic;
        }
        h2{
            font-size: 55px;
            text-transform: uppercase;
            margin-top: 20px;
            line-height: 90%;
            font-weight: bolder;
        }
        button{
            font-size: 20px;
            text-transform: uppercase;
            padding: 20px 35px;
            background-color: $color1;
            color: white;
            font-weight: bolder;
            border-radius: 5px;
            margin-top: 30px;
        }
        button:hover{
            background-color: #ffc602;
        }
    }
}

// Main
main{
    h2{
        font-size: 45px;
        text-transform: uppercase;
        padding-bottom: 20px;
    }
    .section{
        padding: 70px 10px;
        text-align: center;
        &__title{
            font-style: italic;
            color: #707882;
            padding-bottom: 50px;
        }
    }
}
// Service
.service{
    &__item{
        margin-top: 30px;
        i{
            border-radius: 50%;
            padding: 30px;
            color: white;
            background-color: $color1;
            font-size: 60px;
        }
        h4{
            font-size: 25px;
            color:#21252b;
            margin:20px 0;
        }
        p{
            color: #8d98ae;
        }
    }
}

// Portfolio

.portfolio{
    background-color: #f8f9fa;
   &__list{
       padding: 10px 60px;
       display: grid;
       grid-template-columns: auto;
       row-gap: 30px;
       .portfolio__item{
           background-color: white;
           padding-bottom: 30px;
            img{
                width: 100%;
            }
            h4{
                font-size: 25px;
                color:#21252b;
                margin:20px 0 5px 0;
            }
            p{
                color: #8d98ae;
                font-style: italic;
            }
       }
   }
}

// Team

.team{
    background-color: #f8f9fa;
    color: #707882;
    &__list{
        padding: 0 60px;
        .team__item{
            img{
                border-radius: 50%;
                width: 200px;
                border: 10px solid #dfe0e1;
            }
            h4{
                font-size: 25px;
                color:#21252b;
                margin:20px 0 5px 0;
            }
        }
        .team__contact{
            margin: 20px 0 40px 0;
            i{
                font-size: 15px;
                padding: 15px;
                border-radius: 50%;
                background-color: #343a40;
                color: white;
                margin-right: 15px;
            }
        }
    }
    &__bottom{
        margin-bottom: 50px;
    }
}

// Contact
.contact{
    &__list{
       display: grid;
       grid-template-columns: auto;
       justify-content: center;
       row-gap: 30px;
       img{
        display: block;
       }
    }
}

// Footer

footer{
    text-align: center;
    padding-bottom: 30px;
    p{
        font-size: 16px;
        font-weight: 100;
        color: #212529;
    }
    .footer__contact{
        margin: 20px 0;
        i{
            font-size: 15px;
            padding: 15px;
            border-radius: 50%;
            background-color: #343a40;
            color: white;
            margin-right: 15px;
        }
    }
    .footer___bottom{
        span{
            color:$color1;
            margin-right: 20px;
            font-weight: 100px;
            font-size: 17px;
        }
    }
}

@media only screen and (min-width: 768px){
    header{
        nav{
            padding: 20px 50px;
        }
    }
    .banner{
        &__content{
            h4{
                font-size: 35px;
                font-style: italic;
            }
            h2{
                font-size: 70px;
                padding: 0 50px;
            }
        }
    }

    // Main
    // Service
    .service__list{
        display: flex;
        padding: 0 30px;
        p{
            padding: 0 7px;
        }
    }

    // Portfolio
    .portfolio{
        background-color: #f8f9fa;
       &__list{
           grid-template-columns: auto auto;
           grid-gap: 30px;
       }
    }

    // Contact{
    .contact{
        &__list{
            grid-template-columns: auto auto auto auto;
            justify-content: space-around;
            row-gap: 30px;
            img{
            display: block;
            }
        }
    }
}

@media only screen and (min-width: 992px){
    // Header
    header{
        nav{
            .logo{
                width: 170px;
            }
            position: absolute;
            width: 100%;
            top: 0;
            box-sizing: border-box;
            background-color: initial;
            padding: 20px 100px;
            z-index: 100;
            button{
                display: none;
            }
            ul{
                display: flex;
                color: white;
                list-style-type: none;
            }
            ul li{
               display: inline;
               padding: 0 20px;
               font-size: 20px;
               text-transform: uppercase;
               cursor: pointer;
            }
            ul li:hover{
                color: #827f7f;
            }
        }
    }

    // Portfolio
    .portfolio{
        background-color: #f8f9fa;
       &__list{
           grid-template-columns: auto auto auto;
           grid-gap: 30px;
       }
    }

    // Team
    .team{
        &__list{
            padding: 0 60px;
            display: grid;
            grid-template-columns: auto auto auto;
        }
        &__bottom{
            padding: 0 200px;
        }
    }

    // Footer
    footer{
        display: grid;
        grid-template-columns: auto auto auto;
        column-gap: 60px;
        align-items: center;
    }
}